<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="all" href="{{ '/assets/css/reset.css' | url }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ '/assets/css/style.css' | url }}">
        <meta name="author" content="Alex Taylor">
        
        <title>{{site.title}}{% if title %} - {{title}} {% endif %} </title>
        <meta name="description" content="{% if description %}{{description}}{% else %}{{site.description}}{% endif %}"/>
        <meta name="keywords" content="{% if keywords %}{{keywords}}{% else %}{{site.keywords}}{% endif %}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicons/favicon-16x16.png">
    </head>
    <body>
        <div class="wallpaper"></div>
        <header>
        <h1><a href="/" class="navlink">Alex's Garden</a></h1>
        </header>
         {% include "partials/_navigation.njk" %}
        <main> 
            {{content | safe}}
        </main>
    </body>
    {% include "partials/_footer.njk" %}
</html>