/* variables */

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --black:rgb(003600);
  --pink:rgba(212, 182, 242, .1);
  --green: rgba(3, 64, 1, 1);
  --brown: rgba(89, 83, 2, .125);
  --dark-orange: rgba(140, 78, 3, 1);
  --orange: rgba(217, 103, 4, .1);
}

/* Base */

body {
  margin:40px auto;
  Max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:var(--black);
  padding:0 10px;
  font-family: var(--system-ui);
  font-weight:500;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

h1,h2,h3, h4{
  Line-height:1.2;
}

/* layout */

h1, nav, main, footer {
  display:flex;
  margin: 0;
  justify-content: center;
}

header, nav, main, footer {
  position: relative;
}

nav {
  flex-flow:row; 
  align-items:center;
}

main, footer {
  flex-flow: column;
}

footer {
  align-items:center;
}

/* spacing things out */

footer > p, nav > a {
  padding: 0 .5rem 0 0;
}

.blog-desc {
  margin: .25em 0 0 0;
}

h4 {
  margin: 0;
}

.intro-text{
  margin:  1rem 0 0 0;
}

/* nav links  */

.navlink, header > a {
  text-decoration:none;
  color: var(--textcolor);
}

a {
  color:var(--dark-orange);
}

/* card styling */

.card {
  margin: 1em 0 0  0 ;
  padding: .25em 0;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {

}

.card-block {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
}


.card-list {
  margin: 1rem 0 0 0;
}

.card-image {
  display:flex;
  justify-content: center;
}

/* now section */

.now-heading {
 font-weight:1000;
}

.now-text {
  margin:0 0 0 0;
}

/* background styling */

html {
  background-color: rgba("FFFFFF00");
  background-image: linear-gradient(0deg, var(--orange),var(--pink));
}

.wallpaper {
  background-color:var(--dark-orange);
  background-position:center;
  background-size:cover;
  opacity: 0.125;
  position: fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

@media screen and (max-width:400px) {
  .wallpaper {
    background-image:url("../images/cyano-low.jpg");
  }

  .card-list-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width:400px) and (max-width:2000px) {
  .wallpaper {
    background-image:url("../images/cyano-med.jpg");
  }

  .card-list-layout {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
}

@media screen and (min-width:2000px) {
  .wallpaper {
    background-image:url("../images/cyano-high.jpg");
  }

  .card-list-layout {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    gap: 10px;
  }
}
