/* variables */

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --textcolor: #333;
}

/* Base */

body {
  margin:40px auto;
  Max-width:650px;
  Line-height:1.6;
  font-size:18px;
  color:var(--textcolor);
  Padding:0 10px;
  font-family: var(--system-ui);
}

h1,h2,h3{
  Line-height:1.2;
}

/* layout */

h1, nav, main, footer {
  display:flex;
  margin: 0;
  justify-content: center;
}

nav, footer {
  flex-flow:row; 
}

main {
  flex-flow: column;
}

/* spacing things out */

footer > p, nav > a {
  padding: 0 .5em;
}

/* nav links  */

.navlink, header > a {
  text-decoration:none;
  color: var(--textcolor);
}

a {
  color:darkblue;
}


