/* variables */

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --textcolor: #333;
}

/* Base */

body {
  margin:40px auto;
  Max-width:650px;
  Line-height:1.6;
  font-size:18px;
  color:var(--textcolor);
  Padding:0 10px;
  font-family: var(--system-ui);
  font-weight:400;
}

h1,h2,h3, h4{
  Line-height:1.2;
}

/* layout */

h1, nav, main, footer {
  display:flex;
  margin: 0;
  justify-content: center;
}

nav {
  flex-flow:row; 
  align-items:center;
}

main, footer {
  flex-flow: column;
}

footer {
  align-items:center;
}

/* spacing things out */

footer > p, nav > a {
  padding: 0 .5em;
}

.blog-desc {
  margin: .25em 0 0 0;
}

h4 {
  margin: 0;
}

/* nav links  */

.navlink, header > a {
  text-decoration:none;
  color: var(--textcolor);
}

a {
  color:darkblue;
}

/* card styling */

.card {
  margin: 1em 0 0  0 ;
  padding: .25em 0;
}

