---
layout: base
title: "Notes"
description: This is the notes home
order: 3
tags: example
---

<h2>Notes</h2>

<ul class="blog-list">
    {% for post in collections.post %}
        <li class="blog-list-item">
            <a href="{{ post.url }}" class="blog-list-link">{{ post.data.title }}</a>
            <small class="blog-list-date">{{post.date | postDate}}</small>
            <p class="blog-list-date">{{post.data.description}}</p>
        </li>
    {% endfor %}
</ul>

