---
layout: base
title: "Cyanotype"
description: This is the Cyanotype gallery
order: 3
tags: gallery
---

{% pageHeading  "Cyanotype", "Sunprints toned, cleaned up, and re-colored"%}

<div class="gallery-container">
    {% for image in visuals.cyanotype %}
        <div class="gallery-item">
            <img src="{{ image.imgSrc }}" alt="{{ image.imgAlt }}" />
            <p class="image-caption">{{ image.caption }}</p>
        </div>
    {% endfor %}
</div>