---
layout: base
title: "Cyanotype"
description: This is the Cyanotype gallery
order: 3
tags: gallery
---

<h2>Cyanotypes</h2>

<a class="hub-link" href="/visuals/">Go back to the visuals hub!</a>

<div class="gallery-container">
    {% for image in visuals.cyanotype %}
        <div class="gallery-item">
            <img src="{{ image.imgSrc }}" alt="{{ image.imgAlt }}" />
            <p class="image-caption">{{ image.caption }}</p>
        </div>
    {% endfor %}
</div>