---
layout: base
title: "Glitch"
description: This is the Glitch gallery
order: 3
tags: gallery
---

{% pageHeading  "Glitch", "Images databent using a variety of techniques"%}

<div class="gallery-container">
    {% for image in visuals.glitch %}
        <div class="gallery-item">
            <img src="{{ image.imgSrc }}" alt="{{ image.imgAlt }}" />
            <p class="image-caption">{{ image.caption }}</p>
        </div>
    {% endfor %}
</div>