---
layout: base
title: "Home"
description: This is the home page
tags: home
order: 1
---

<section>
    <h2>About Me</h2>
    <p>My name is Alex and I am an overthinker living in Owings Mills, MD. For fun, I write music, tinker with electronics, and make various forms of visual art. I was obsessed with the guitar for a long time, but gradually slid down other rabbit holes.</p> 
    <p>As a career, I work as a project manager and implementation consultant. Previously, I worked as a stage manager, audio technician, and private lesson instructor, among other things.</p>
    <p>Want to know more about me? Check out the <a href="/">notes</a> page, otherwise check out my <a href="/sounds/">sounds</a>, <a href="/programming/">scripts</a>, and <a href="/visuals/">sights</a>!
</section>

{% noteList  "Keeping my head above water", "File Format Documentation", "documenting my life up to this point, designing instructional material for a glitch / video art course"%}

<section>
    <h2>About the Site</h2>
    <p>I started this website as a way to centralize various experiences and things I've learned. This site is created with 11ty.</p>
</section>

<section>
    <h2>Getting in Touch</h2>
    <ul>
        <li><a href="https://www.instagram.com/frenchalexandersomething/" title="Go to Instagram" aria-label="Go to Instagram (opens in a new tab)" target="_blank">Instagram</a></li>
        <li><a href="https://github.com/altays" title="Go to Github" aria-label="Go to Github (opens in a new tab)" target="_blank">Github</a></li>
        <li><a href="https://www.flickr.com/photos/199520597@N02/" title="Go to Flickr" aria-label="Go to Flickr (opens in a new tab)" target="_blank">Flickr</a></li>
    </ul>
</section>