---
layout: base
title: "Home"
description: This is the home page
tags: home
order: 1
---

<section>
    <h2>About Me</h2>
    <p>I am a tinkerer, visual artist, and musician based in Owings Mills, MD with a background in classical guitar and teaching. My practice includes collaged electro-acoustic improvisations, mixed media visuals, and unintended computer-driven collaboration.
    <p>
    Curious about what I've been up to? <a href="/journal">Check out my journal</a>. 
    Want to check out the stuff I do? Take a look at the <a href="/sounds">sounds</a>, <a href="/programming">programming</a>, and <a href="/visuals">visuals</a> sections!
    </p>
</section>

<section>
    <h2>About the Site</h2>
    <p>I started this website as a way to centralize various experiences and things I've learned. This site is created with 11ty.</p>
    <p><a href="/siteupdates">Click here to see the site updates</a>.<p>
</section>

<section>
    <h2>Getting in Touch</h2>
    <ul>
        <li><a href="https://www.instagram.com/frenchalexandersomething/" title="Go to Instagram" aria-label="Go to Instagram (opens in a new tab)" target="_blank">Instagram</a></li>
        <li><a href="https://github.com/altays" title="Go to Github" aria-label="Go to Github (opens in a new tab)" target="_blank">Github</a></li>
        <li><a href="https://www.flickr.com/photos/199520597@N02/" title="Go to Flickr" aria-label="Go to Flickr (opens in a new tab)" target="_blank">Flickr</a></li>
    </ul>
</section>