---
layout: base
title: "Notes"
description: This is the notes home
order: 3
tags: draft
---

{% pageHeading  "Notes", "Here's a thing!"%}


now info


listening list


partial for last few journal entries



partial for last few site updates


partial for last few