---
layout: base
title: "Site Updates"
description: Random updates
tags: draft
order: 3
---

<h2>Now</h2>

<section>
    <h3>Listening</h3>
    <ul role="list">
    {% for record in about.listening %}
    <li>
        {{record.text}}
    </li>
    {% endfor %}
    </ul>
</section>

<section>
    <h3>Reading</h3>
    <ul role="list">
    {% for record in about.reading %}
    <li>
        {{ record.text }}
    </li>
    {% endfor %}
    </ul>
</section>

<section>
    <h3>Watching</h3>
    <ul role="list">
            {% for record in about.watching %}
            <li>
                {{record.text}}
            </li>
        {% endfor %}
    </ul>
</section>