---
layout: base
title: "Photography"
description: This is the Photography gallery
order: 3
tags: gallery
---

{% pageHeading  "Photography", "Images taken using a variety of cameras + techniques"%}

<div class="gallery-container">
    {% for image in visuals.photography %}
        <div class="gallery-item">
            <img src="{{ image.imgSrc }}" alt="{{ image.imgAlt }}" />
            <p class="image-caption">{{ image.caption }}</p>
        </div>
    {% endfor %}
</div>