---
permalink: /sitemap.html
eleventyExcludeFromCollections: true
draft: true
---
<ul>
    {% for page in collections.all %}
        <li>
            <p>{{page.url}}</p>
        </li>
    {% endfor %}
<ul>