---
permalink: /sitemap.html
layout: base
title: "Sitemap"
description: This is the home page
tags: home
order: 1
eleventyExcludeFromCollections: true
---


<ul role="list">
    {% for page in collections.all %}
        <li>
            <a href="{{page.url}}">{{ page.data.title }}</a>
        </li>
    {% endfor %}
<ul>