---
layout: base
title: "Video Art"
description: This is the video art home
tags: gallery
order: 3
---

<h2>Video Art</h2>

<section role>
    <ul role="list">
    {% for project in visuals.videoart %}
        <li class="card">
            <article>
                <h4>
                    <a href="{{project.link}}" title="Go to Youtube" aria-label="Go to Youtube (opens up in a new tab)" target="_blank">{{project.title}}</a>
                </h4>
                <p>
                    {{project.description}}
                </p>
            </article>
        </li>
    {% endfor %}
    </ul>
</section>