---
layout: base
title: "Notes"
description: This is the video art home
tags: page
order: 3
---

<h2>Notes</h2>

<p class="intro-text">
    Other stuff that doesn't fit anywhere else
</p>

<ul role="list">
    <li class="card">
        <a href="/journal" title="Go to Journal" aria-label="Go to the Journal">Journal</a>
    </li>
    <li class="card">
        <a href="/links" title="Go to Links" aria-label="Go to the Links">Links</a>
    </li>
    <li class="card">
        <a href="/wiki" title="Go to wiki" aria-label="Go to the wiki">Journal</a>
    </li>
</ul>