---
layout: topicHub
title: "Visuals"
description: This is the visuals home
tags: page
order: 3
---

{% pageHeading  "Visuals", "Notes and projects across different mediums"%}


<section role="list">
    <h3>Notes list</h3>
    <p>Description of section</p>

    <ul role="list">
        {% for thing in visuals.mediums %}
        <li>
            <article class="card card-block">
                <h4 class="card-title">
                    <a href="{{ thing.galleryUrl }}">{{ thing.title }}</a>
                </h4>
                <img class="card-image" src={{ thing.imgURL }}>
                
            </article>
        </li>
        {% endfor %}
    </ul>
</section>