---
layout: base
title: "Watercolor"
description: This is the Watercolor gallery
order: 3
tags: gallery
---

{% pageHeading  "Watercolor", "Says it on the tin!"%}

<div class="gallery-container">
    {% for image in visuals.watercolor %}
        <div class="gallery-item">
            <img src="{{ image.imgSrc }}" alt="{{ image.imgAlt }}" />
            <p class="image-caption">{{ image.caption }}</p>
        </div>
    {% endfor %}
</div>