    <!-- _includes/partials/_navigation.njk-->
    <nav>
        {%- for item in collections.page -%}
            <a href="{{ item.url }}" class="navlink" >{{ item.data.title }}</a>
        {%- endfor -%}
    </nav>