{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}
<section class="paginate-container">
    {% if previousPost %}
        <p class="paginate-item">Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>
    {% endif %}

    {% if nextPost %}
        <p class="paginate-item">Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>
    {% endif %}
</section>